absl-py==0.7.1
appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.24.0
astor==0.7.1
attrs==19.3.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
boto3==1.12.30
botocore==1.15.30
bs4==0.0.1
certifi==2019.11.28
cffi==1.12.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
coloredlogs==10.0
-e git+git@github.com:mleila/CovidDisrupt.git@271e62692d3900bc26f3de700c13caaab44d8707#egg=covid
cryptography==2.6.1
cycler==0.10.0
dash==1.9.1
dash-bootstrap-components==0.9.1
dash-core-components==1.8.1
dash-daq==0.4.0
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
docutils==0.14
entrypoints==0.3
fake-useragent==0.1.11
Flask==1.1.1
Flask-Compress==1.4.0
fs==2.1.2
future==0.18.2
gast==0.2.2
google-pasta==0.1.4
grpcio==1.19.0
h5py==2.9.0
humanfriendly==4.17
idna==2.8
importlib-metadata==1.5.2
instalooter==2.3.1
ipaddress==1.0.22
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.4
json5==0.9.3
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyterlab==1.2.6
jupyterlab-server==1.0.7
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
lxml==4.3.2
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
neobolt==1.7.4
neotime==1.7.4
newsapi==0.1.1
newsapi-python==0.2.6
nltk==3.4
notebook==6.0.3
numpy==1.16.2
oauthlib==3.0.1
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.5.4
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.7.1
protobuf3-to-dict==0.1.5
ptyprocess==0.6.0
py2neo==4.2.0
pycodestyle==2.5.0
Pygments==2.6.1
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyrsistent==0.16.0
python-dateutil==2.7.5
python-Levenshtein==0.12.0
python-linkedin-v2==0.9.4
pytz==2018.7
pyzmq==19.0.0
requests==2.21.0
requests-oauthlib==1.2.0
retrying==1.3.3
s3transfer==0.3.3
sagemaker==1.52.1
scikit-learn==0.20.3
scipy==1.4.1
scrape-linkedin==0.1
Send2Trash==1.5.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smdebug-rulesconfig==0.1.2
soupsieve==1.9
svgpathtools==1.3.3
svgutils==0.3.1
svgwrite==1.2.1
tb-nightly==1.14.0a20190301
tenacity==5.0.3.dev12
tensorflow==2.0.0a0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-estimator-nightly==1.14.0.dev2019030115
tornado==6.0.4
traitlets==4.3.3
urllib3==1.24.1
verboselogs==1.7
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.5.1
wordcloud==1.6.0
xlrd==1.0.0
zipp==3.1.0
